Source: calcfiles
Version: 1.0.0
Section: utils
Priority: optional
Maintainer: Tim Liftiev <tliftiev2@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/timlftv/timliftiev-os
Package: calcfiles
Architecture: all
Depends: bash
Description: calcfiles is a simple script that calculates the number of files in a directory.
